<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.9.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.7.0" targetFramework="net461" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net461" />
</packages>